:root {
  --dark: #2a303c;
  --blue: #00b5ff;
  --darkblue: #2f3543;
  --orange: #f89321;
  --gray: #bdbfc4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #bada55;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

.btn-orange {
  background-color: var(--orange);
  color: white;
}

.btn-flat {
  background-color: transparent;
}

.menu.menu--open {
  transform: translateX(0);
}

.menuButton-close {
  color: orange;
  font-size: 1em;
  position: absolute;
  top: 0;
}

.Header {
  background-color: var(--darkblue);
  height: 4em;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}

.Header-navigationButton {
  color: var(--orange);
}

.Header-userMenuButton {
  color: var(--blue);
}

.Header-navigationButton,
.Header-userMenuButton {
  font-size: 1.5em;
}

.Header-logo {
  flex-basis: 12%;
  max-width: 65px;
}

.Logo {
  margin: 0 auto;
  width: 50%;
}

.Searchbar {
  /* min-width: 12em; */
}

.Searchbar-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  padding: 0.5em 1em;
  width: 100%;
}

.Navigation-close {
  left: 5%;
}

.UserMenu-close {
  right: 5%;
}

.Navigation,
.UserMenu {
  transition: transform 0.3s ease;
  will-change: transform;
}

/* Navigation */
.Navigation {
  background-color: var(--darkblue);
  width: 65vw;
  max-width: 17em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}

.Navigation-list {
  flex: 1;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
}

.Navigation-item {
  flex: 1;
}

.Navigation-item:not(:last-child) {
  border-bottom: 1px solid gray;
}

.Navigation-link {
  color: var(--gray);
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 1em;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Navigation-footer {
  padding: 0.5em;
}

.Navigation-buy {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Navigation-blizzard {
  margin: 0.5em auto 0;
  width: 25%;
}
/* /Navigation */

/* UserMenu */
.UserMenu {
  background-color: var(--darkblue);
  width: 65vw;
  max-width: 17em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}

.UserMenu-logo {
  margin: 1em auto;
  width: 40%;
}

.UserMenu-options {
  background-color: var(--dark);
  padding: 0.5em 1em;
}

.UserMenu-optionLink {
  color: var(--gray);
  display: block;
  font-size: 0.9em;
  padding: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
}

.UserMenu-optionIcon {
  color: var(--blue);
  margin-right: 0.5em;
}

.UserMenu-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.UserMenu-item {
  flex: 1;
}

.UserMenu-link {
  color: var(--gray);
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 1em;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* /UserMenu */

/* User */
.User {
  background-color: var(--dark);
  padding: 0.5em 1em;
}

.User-nickname {
  color: var(--blue);
  text-decoration: none;
  font-size: 1.2em;
}

.User-hashtag {
  color: var(--gray);
}

.User-email {
  color: var(--gray);
  font-size: 0.9em;
}
/* /User */

@media only screen and (min-width: 699px) {
  .Header {
    background-color: transparent;
    height: auto;
    padding: 0;
    flex-direction: column;
    align-items: initial;
  }

  .Header-navigation,
  .Header-userMenu,
  .Header-logo,
  .User,
  .UserMenu-options,
  .Logo,
  .Navigation-blizzard,
  .menuButton-close {
    display: none;
  }

  .Navigation,
  .UserMenu {
    transform: translateX(0);
    position: static;
  }

  .UserMenu {
    background-color: var(--darkblue);
    height: 3em;
    padding: 0 1em;
    flex-direction: row;
    align-items: center;
    max-width: initial;
    width: 100%;
  }

  .UserMenu-header {
    flex-basis: 10%;
  }

  .UserMenu-logo {
    margin: 0;
    min-width: 4em;
  }

  .UserMenu-list {
    flex-direction: row;
    flex: initial;
  }

  .Navigation {
    order: 1;
    flex-direction: row;
    width: auto;
    margin: 1em;
    max-width: initial;
  }

  .Navigation-header {
    order: 2;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .Navigation-list {
    flex-direction: row;
    padding: 0;
    order: 1;
  }

  .Navigation-item:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  .Navigation-link,
  .Navigation-buy {
    font-size: 0.8em;
  }

  .Navigation-link {
    padding: 0.5em;
  }

  .Navigation-footer {
    order: 3;
  }

  .Searchbar {
    font-size: 0.8em;
    flex: 1;
  }
}
